@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --logo-color: rgba(0, 78, 255, 1);
    --nav-color: rgb(172, 16, 16);
    --dark-primary-color: #0a49f6;
    --secondary-color: #f72585;
    --dark-color: #1e1e1e;
    --primary-color: #3a6cf4;
    --light-color: #f0f0f0;
    --third-color: #4e9eff;
    --white-color: #fff;
    --body-font: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* start header */
header {
    width: 100%;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99999;
    padding: 10px 100px;
}

header .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    color: var(--logo-color);
    font-family: var(--body-font);
    letter-spacing: 2px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: var(--third-color);
    padding-left: 30px;
    font-weight: 500;
    font-family: var(--body-font);
    transition: 0.5 ease-in;
    -webkit-transition: 0.5 ease-in;
    -moz-transition: 0.5 ease-in;
    -ms-transition: 0.5 ease-in;
    -o-transition: 0.5 ease-in;
}

header ul li a:hover {
    color: var(--dark-primary-color);
}

/* end header */
/* start home */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 200px;
    font-size: larger;
    letter-spacing: 1px;
    min-height: 100vh;
    width: 100%;
    background: url("pictures/v627-aew-39-technologybackground.jpg");
    background-size: 67%;
    background-blend-mode: darken;
}

.content .heading {
    color: var(--light-color);
    font-size: 1.4em;
    margin-bottom: 20px;
    font-weight: 600;

}

.content h2 {
    color: var(--third-color);
    font-size: 3em;
    font-weight: 700;
    font-family: var(--body-font);
    display: inline-block;
}

.content h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: var(--third-color);
    margin-top: 10px;
    animation: line 2s linear infinite;
    -webkit-animation: line 2s linear infinite;
}

.content h3 {
    font-size: 2em;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 10px;
    animation: homeText 2s linear infinite;
    -webkit-animation: homeText 2s linear infinite;
}

.viewproject {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(43, 43, 226);
    width: 200px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: var(--body-font);
    text-decoration: none;
    height: 90px;
    color: var(--white-color);
}

.viewproject:hover {
    transform: scale(1.2);
    box-shadow: var(--dark-primary-color) 10px 10px 7px;
    color: var(--primary-color);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.social-icons {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

.social-icons a {
    font-size: 1.7em;
    padding-right: 30px;
    color: rgba(255, 255, 255, 0.8);
}

.fa-instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-tiktok {
    transition: 0.5 linear;
    -webkit-transition: 0.5 linear;
    -moz-transition: 0.5 linear;
    -ms-transition: 0.5 linear;
    -o-transition: 0.5 linear;
}

.fa-tiktok:hover {
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.fa-facebook:hover {
    background: rgb(0, 78, 255);
    background: linear-gradient(90deg, rgba(0, 78, 255, 1) 0%, rgba(0, 78, 255, 1) 0%, rgba(0, 78, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-discord:hover {
    color: #5865F2;
}

@keyframes line {
    0%, 100% {
        width: 0;
        color: var(--light-color);
    }

    50% {
        width: 80px;
        color: var(--primary-color);
    }
}

@keyframes homeText {
    0%, 100% {
        color: var(--white-color);
    }

    50% {
        color: var(--primary-color);
    }
}

/* End Home */
/* Start Skills */
.skills {
    background: url(pictures/skills\ background\ css);
    height: 500px;
    background-repeat: no-repeat;
    background-size: 1600px 500px;

}

.skills h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 80px;
    font-size: 3em;
}

.cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: #1e1e1e 1px 7px 7px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 21.25em;
    background-color: var(--white-color);
    margin-left: 50px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    padding: 25px;
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.cards .icon {
    font-size: 6em;
    text-align: center;
    color: var(--dark-primary-color);
}

.cards h3 {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
}


.cards p {
    text-align: center;
}

/* End skills */
/* start projects */
.projects {
    background: rgb(176, 18, 18);
    background: linear-gradient(90deg, rgba(176, 18, 18, 1) 0%, rgba(79, 18, 103, 1) 45%, rgba(0, 135, 255, 1) 100%);
    height: 500px;
}

.project-card {
    background-color: var(--white-color);
    width: 23em;
    overflow: hidden;
    min-height: 14em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.project-card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 0.8;
}

.project-img img {
    width: 100%;
}

.projectinfo a {
    text-decoration: none;
    text-transform: uppercase;
}

.projectinfo h4 {
    display: inline-block;
    margin-right: 150px;
}

.title {
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.mdetails {
    text-transform: uppercase;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 40px;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    color: var(--primary-color);
    font-weight: 700;
}

.mdetails:hover {
    color: blueviolet;
}

/* end projects */
/* start contact */
.contact {
    background: rgb(0, 135, 255);
    background: linear-gradient(90deg, rgba(0, 135, 255, 1) 0%, rgba(81, 18, 101, 1) 49%, rgba(79, 18, 103, 1) 49%, rgba(176, 18, 18, 1) 100%);
}

.contact .card a {
    text-decoration: none;
    color: #1e1e1e;
    text-align: center;
}

/* end contact */
/* end main */
/* start footer */
.footer {
    background: var(--dark-color);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    z-index: -999999;
}

.footer h4 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer h4 span {
    color: var(--primary-color);
}

/* end footer */
/* start scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--third-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

/* end scroll */
/* start responsive */
@media (max-width: 575.98px) {
    .csshtml {
        display: none;
    }
    .skills h2{
        margin-bottom: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .csshtml {
        display: none;
    }
    .skills h2{
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .csshtml {
        display: none;
    }
    .skills h2{
        margin-bottom: 60px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .csshtml {
        display: none;
    }
    .skills h2{
        margin-bottom: 60px;
    }
}